* {
    padding: 0;
    margin: 0;
} 

body {
	background: #F9F9F7  url('images/a1.gif');
	background-repeat: repeat-x;
	font-family: Georgia, Calibri, Arial, Helvetica, sans-serif;
	font-size:11pt;
	line-height: 1.2em;
	text-decoration: none;
}
a {
	color: #3B6EBF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


#wrap {
margin: auto;
width: 80%;
#background: url('images/midd.gif');
background-repeat: repeat-y;
background-color: #ffffff;

box-shadow: 10px 10px 5px #888888;

}

#top { 
background: url('images/topp1.html') no-repeat;
height: 6px;
}

#content {
padding: 0px 15px 0px 25px;
}

#bottom {
#background: #fff url('images/bott.jpg') no-repeat;
background-color: #ffffff;

height: 20px;
align: center;
}


.header {
	height: 250px;
	background: #F9F9F7 url('images/Indy-Skyline.jpg') no-repeat;
	background-size: cover;
	/*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
	color: #084B8A;
}

.header h1 { padding-left: 5.5em; padding-top: 8px; font-size: 18px; }
.header h2 { padding-left: 1.2em; padding-top: 8px; font-size: 24px; display: inline;}
.header h1 a { font-size: 24px; font-weight:bold; text-decoration: none; font-family: Calibri, "Times New Roman", Times, serif}
.header h3 { padding-left: 19.5em; padding-top: 0px; font-size: 14px; line-height:24px; display: inline; }
.header h4 { padding-left: 0.4em; padding-top: 11em; font-size: 10px; line-height:24px; color:grey; }


.breadcrumbs { 
  background: #F6F9FB; 
	border-bottom: 1px solid #E1E1E1; 
	padding: 5px;
}
	
.middle {
	float:right;
	width: 710px;
	margin: 0 0px 0 5px;
	padding: 1% 0%;
	text-align: justify;
}

.right {
	float: left;
	width: 120px;
	margin: 0 0 0 0 ;
	background-color: #fff	
}

.right ul {
	padding: 0px 0 0px 0px;
	margin:0;
}

.right li {
	margin-bottom:5px;
	list-style-type: square;
	color: #3B6EBF;	
}

.middle h2 { color: #3B6EBF; font-size: 16px; margin-bottom: 10px; margin-top: 10px;}
.right h2 { color: #3B6EBF; font-size: 14px; margin-top: 15px;}

#clear {
	display: block;
	clear: both;
	width: 100%;
	height:1px;
	overflow:hidden;
}

#footer {
	text-align: center;
	color: #666;
}


.parag {
	margin-left: 15px;
}

#tabsJ {
  font: bold 8px Verdana;
  font-size: 90%;
  float:left;
  width:100%;
  background:#F4F4F4;
  line-height:normal;
  border-bottom:1px solid #24618E;
  padding: 2px 2px 0 0px;
  
}
  
#tabsJ ul {
 margin:0;
 padding:5px 10px 0 3px;
 list-style:none;
}
#tabsJ li {
    display:inline;
    margin:0;
    padding:15px;
}
#tabsJ a {
    float:left;
    background:url("images/tableftJ.gif") no-repeat left top;
    margin:0;
    padding:0 0 0 2px;
    text-decoration:none;
}
#tabsJ a span {
    float:left;
    display:block;
    background:url("images/tabrightJ.gif") no-repeat right top;
    padding:5px 5px 4px 0px;
    color:#24618E;
}
  /* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabsJ a span {
	float:none;
}
/* End IE5-Mac hack */
#tabsJ a:hover span {
    color:#fff;
}
#tabsJ a:hover {
    background-position:0% -42px;
}
#tabsJ a:hover span {
    background-position:100% -42px;
}

#tabsJ #current a {
	background-position:0% -42px;
}
#tabsJ #current a span {
		background-position:100% -42px;
		color:#FFF;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
	
.dropmenudiv_b{
position:absolute;
top: 0;
border: 1px solid #918d8d; /*THEME CHANGE HERE*/
border-width: 0 2px;
background: url(image/menu81.html);
line-height:14px;
z-index:100;
background-color: white;
width: 121px;
visibility: hidden;
}


.dropmenudiv_b a{
width: auto;
display: block;
text-indent: 5px;
border: 0 solid #918d8d; /*THEME CHANGE HERE*/
border-bottom-width: 1px;
padding: 2px 0;
text-decoration: none;
text-align: left; 
color: #257EB7;
}

* html .dropmenudiv_b a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv_b a:hover{ /*THEME CHANGE HERE*/
background-color: #edf3f3;
}

#bluemenu ul li a{
	padding-right: 5px;
}
.bluetabs ul{
	display: block;
	width: 1300px;
	height:20px;
}

.bluetabs li.selected a{ /*selected main tab style */
color: white;
}

.subitem{
	margin-left: 15px;
}   
.autofont{
	font-size:8pt;
}
.Required{
	color:red;
}
.width_edit0{
	width:23em;
}

#imgbtn{
	display: block;
	width: 80px;
	height: 29px;
	font-size: 15px;
	text-decoration: none;
  border-style:none;
	padding:0 35px 2px 2px;
  background: url(../NGS/images/bluesave.gif) no-repeat 0 0
}

#imgbtn:hover
{ 
  background: url(../NGS/images/pinksave.gif) no-repeat 0 0
}